/* .images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 20px;
  width: 20px;
} */

ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 20px;
  width: 20px;
}
