a {
  text-decoration: none;
  color: black;
}

ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
}

.item-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.item-container img {
  width: 300px;
}
